.card {
  /* padding: 8px; */
  /* position: absolute; */
  width: 770px;
  /* height: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.54);
  padding: 16px;
  margin: 0 auto;
  margin-bottom: 32px;
  background: rgba(53, 53, 53, 0.13);
  box-shadow: 2px 2px 2px rgba(49, 49, 49, 0.12);
  background: white;
  /* float: left; */
}

#projects_list {
  list-style: none;
  padding: 8px;
  margin: 0;
}

#projects_list .project.last {
  border-bottom: none;
}

#projects_list a {
  cursor: pointer;
  text-decoration: none;
}

#projects_list .project {
  padding: 12px;
  border-bottom: 1px dotted #dfdfdf;
  cursor: pointer;
  /* background: #f2f2f2; */
}

#projects_list .project:hover {
  background: #f2f2f2;
}


#projects_list .project_title {
  font-weight: 500;
  color: #4ab1a3;

}

#projects_list .project_description {font-weight: normal;color: #585757;}

.card_title {
  font-size: 15px;
  font-weight: bolder;
  color: rgb(65, 144, 182);
  /* font-weight: 300; */
  /* margin-bottom: 0; */
  margin: 0;
  font-family: Menlo, monospace;

}

.card_content {
  padding: 8px;
}

#logo_border {
  float: left;
  margin-top: 3px;
  height: 42px;
  /* background: rgb(166, 176, 204); */
  /* border-right: 2px dotted rgb(166, 176, 204); */
  width: 2px;
  margin-right: 16px;

  border-right: 2px dotted rgba(128, 128, 128, 0.33);
}

#border {
  height: 5px;
  position: absolute;
  width: 100%;
}

.toright {
  background: linear-gradient(to right, rgba(85, 239, 203, 0.67) , rgba(91, 202, 255, 0.51));
  top: 0;
}

.toleft {
  background: linear-gradient(to left, rgba(85, 239, 203, 0.67) , rgba(91, 202, 255, 0.51));
  bottom: 0;
}

#wallpaper {
  position: relative;
}

#navigation {
  height: 30px;
  /* background: red; */
  /* width: 800px; */
  /* background: 5986ff; */
  /* margin: 0 auto; */
  /* bottom: 5px; */
  /* position: absolute; */
  /* margin-top: 16px; */
  /* margin-right: 0; */
  /* margin-left: ; */
  font-family: "Menlo", monospace;
  /* border-bottom: 2px dotted #666; */
  /* color: gray !important; */
}

#nav_wrapper {
  width: 800px;
margin: 0 auto;
}
#navigation span{
  color: #666;
  margin-right: 8px;
  float: left;
}

#navigation a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  /* margin-right: 8px; */
  /* font-family: &quot;Roboto Condensed&quot;; */
  font-weight: 500;
  border-bottom: 2px dotted #29a8cc;
  /* margin-left: 100px */
  margin-right: 16px;
  float: left;
}

#contacts_section {
  background: white;
  background: rgba(245, 245, 245, 0.96);
  min-height: 100%;
}

body {/* background-color: rgb(178, 235, 255); */
margin: 0;
padding: 0;
font-family: "Roboto";
letter-spacing: 0.6px;
min-width: 920px;
/*background: linear-gradient(rgba(68, 188, 161, 0.53) , rgba(65, 144, 182, 0.58));*/
background: rgba(245, 245, 245, 1);
color: #333;

}

#output {
  display: none;
}

#navigation a:hover {
  color: white !important;
  border-bottom: 2px dotted rgba(41, 168, 204, 0.44);
}

#cover a {
  color: white !important;
}

header {height: 95px;
background: rgba(245, 245, 245, 1);
/* border-bottom: 2px solid #0B60FE; */
overflow: hidden;
/* box-shadow: 2px 5px rgba(0, 0, 0, 0.31); */
/* z-index: 999; */
position: relative;
top: 0;
width: 100%;
/* z-index: 999; */
box-shadow: 2px 2px 2px rgba(49, 49, 49, 0.12);}

#header_wrapper {width: 800px;margin: 0 auto;/* background: #F5F5F5; */padding: 8px;margin-top: 15px;/* overflow: hidden */}

#id_section {
  height: 500px;
  background: none;
}

#contacts_section {/* height: 500px; */
/* width: 916px; */
margin: 0 auto;
padding-top: 32px;
padding-bottom: 32px;
/* border: 1px solid #f0f0f0; */
/* background: rgb(247, 253, 255); */}

#title {font-size: 24px;
  -webkit-font-smoothing: antialiased;

}

#subtitle {
	font-size: 16px;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0;
  padding-left: 5px;
  font-family: "Roboto Condensed";
  -webkit-font-smoothing: antialiased;

}

#logo {float: left;
/* margin-right: 16px; */
opacity: 0.2;
/* border-right: 2px dotted rgb(128, 128, 128); */
/* margin-left: 8px; */
padding-right: 16px;}

#aboutme {/* height: 350px; */
/* border: 1px solid rgba(215, 215, 215, 1); */
/* background: rgba(252, 252, 252, 1); */
/* background: linear-gradient(#55EFCB , #5BCAFF); */
/* width: 900px; */
margin: 0 auto;
/* margin: 0; */
width: 760px;
/* border-radius: 3px; */
/* padding-top: 50px; */
/* padding-bottom: 16px; */
font-family: menlo, monospace;
font-size: 14px;
padding: 8px;
color: white;}

.blue {color: #5986ff;
/* background: linear-gradient(#55EFCB , #5BCAFF); */}

.lightgray {
  color: #666666;
}

#wallpaper {/* background: url("http://www.dailyfreepsd.com/wp-content/uploads/2013/09/underwater-blurred-background.jpg"); */
background-position: center;
background-size: cover;
height: auto;
/* border-bottom: white 2px solid; */
/* padding-top: 90px; */
background: rgba(24, 32, 43, 0.81);
padding-bottom: 26px;
padding-top: 26px;
box-shadow: 2px 2px 2px rgba(49, 49, 49, 0.12);}

.gray {
  color: #313131;
}
